{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    
        <title>{% block title %}  {% endblock %}</title>
    </head>
  <body>
   
        <div class="navbar">
            <div class="nav-links">
                    <a href="{% url 'index' %}" > الصفحة الرئيسية</a></li>
                    <a href="{% url 'form' %}" >استبيان المستخدم</a></li>
            </div>
            <div class="logo">
                <img src="{% static 'images/Logo.png' %}" alt="شعار الموقع">
            </div>
        </div>
  
    {% block content %}
    {% endblock %}
  </body>
</html>